html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

.simple-link {
    color: #000;
    text-decoration: underline;
}

.simple-button {
    background-color: #fff;
    border-width: 0;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

.simple-button:hover {
    background-color: #333;
    color: #fff;
}

.simple-button__border {
    border: 2px solid #333;
}

/* simple table */
.simple-table {
    border-collapse: collapse;
    font-size: 14px;
}

.simple-table caption {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.simple-table th {
    text-align: center;
    background-color: #ccf;
    padding: 10px;
    border: 1px solid #bbf;
}

.simple-table td {
    border-style: solid;
    border-color: #bbf;
    border-width: 0 1px 1px 1px;
    padding: 5px 10px;
    text-align: center;
}


/* helpers */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.main-centered-block {
    min-width: 480px;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20px;
}
