.round-robin-schedule {
    margin-bottom: 30px;
}

.round-robin-schedule:last-child {
    margin-bottom: 0;
}

.match-score {
    width: 40px;
}

.match-winner {
    width: 100px;
}

.match-participant1,
.match-participant2 {
    display: block;
    width: 100px;
    float: left;
}

.match-participant-delimiter {
    display: block;
    width: 20px;
    float: left;
}
