h1 {
    font-size: 22px;
}

.tournament-form {
    margin-top: 30px;
}

.tournament-form-cancel {
    margin-left: 30px;
}

.tournament-form-fields {
    margin-top: 30px;
    border-collapse: collapse;
}

.tournament-form-buttons {
    margin-top: 30px;
}

.tournament-form-submit {
    background-color: #ccc;
    color: #000;
}

.field-wrapper td {
    padding-top: 20px;
}

.field-wrapper td:nth-child(2n) {
    padding-left: 20px;
}

.field-wrapper input[type="text"],
.field-wrapper input[type="number"] {
    width: 200px;
}

.field-wrapper input[type="radio"] {
    margin: 0;
    margin-right: 7px;
    vertical-align: middle;
}

.field-wrapper select {
    width: 200px;
    height: 100px;
}

.field-wrapper ul {
    padding: 0;
}

.field-wrapper li {
    list-style-type: none;
    margin-left: 5px;
    margin-top: 10px;
}

.field-wrapper-errors {
    font-size: 14px;
    color: #777;
    padding-left: 15px;
}
