.title {
    margin-top: 20px;
    height: 40px;
}

.title-text {
    padding: 0;
    margin: 0;
    float: left;

    font-size: 22px;
    line-height: 40px;
}

.title-action {
    float: left;
    margin-left: 50px;
}

.tournaments {
    border-collapse: collapse;
    margin-top: 30px;
    min-width: 300px;
}

.tournament td {
    padding-top: 20px;
}

.tournament:first-child td {
    padding-top: 10px;
}

.tournament-delete-button {
    font-size: 18px;
}
