{% block login_panel %}
<div class="top-panel">
    <span>Привет, {{ request.user }}!</span><a href="{% url 'logout' %}" class="top-panel-logout simple-link" >выйти</a>
</div>
{% endblock login_panel %}
