<table class="round-robin-schedule simple-table">
    <caption>{{ group_name }} </caption>
    <tr>
        <th>Дата</th>
        <th>Участники</th>
        <th>Счет</th>
        <th>Победитель</th>
    </tr>
    {% for match in matches %}
    <tr>
        <td><input name="match-date-{{match.pk}}" type="date"></td>

        <td class="clearfix">
            <div class="match-participant1">{{ match.participant1 }}</div>
            <div class="match-participant-delimiter">-</div>
            <div class="match-participant2">{{ match.participant2 }}</div>
        </td>

        {% if not match.participant1_score or not match.participant2_score %}
            <td>
                <input class="match-score" type="number" min=0 name="match-score1-{{match.pk}}">
                <span>-</span>
                <input class="match-score" type="number" min=0 name="match-score2-{{match.pk}}">
            </td>
        {% else %}
            <td>{{ match.participant1_score }} - {{ match.participant2_score }}</td>
        {% endif %}

        <td>
            <select class="match-winner" name="match-winner-{{match.pk}}">
                <option value="-1">--------</option>
                <option value="{{ match.participant1.pk }}">{{ match.participant1 }}</option>
                <option value="{{ match.participant2.pk }}">{{ match.participant2 }}</option>
            </select>
        </td>

    </tr>
    {% endfor %}

</table>
