{% extends "league_table/base.html" %}
{% load staticfiles %}

{% block includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'league_table/css/tournament_info.css' %}">
    <link rel="stylesheet" href="{% static 'league_table/css/circular_matches_schedule.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_panel.css' %}">
{% endblock includes %}

{% block content %}
<div class="main-centered-block">
    <div class="container">
        {% include "login_panel.html" %}

        {% if tournament.type == const.ROUND_ROBIN_TOURNAMENT or tournament.type == const.ROUND_ROBIN_AND_PLAYOFF_TOURNAMENT %}
            {% include "league_table/tournament_table.html" with tournament_table=tournament_table tournament=tournament %}
        {% endif %}

        <form class="matches-schedule" method="post">{% csrf_token %}
            {% if tournament.type == const.ROUND_ROBIN_TOURNAMENT %}
                {% include "league_table/round_robin_tournament.html" with groups=groups %}
            {% elif tournament.type == const.PLAYOFF_TOURNAMENT %}
                {% include "league_table/playoff_tournament.html" with groups=groups %}
            {% elif tournament.type == const.ROUND_ROBIN_AND_PLAYOFF_TOURNAMENT %}
                {% include "league_table/round_robin_and_playoff_tournament.html" with groups=groups %}
            {% endif %}
        </form>

    </div>
</div>
{% endblock content %}
