<div class="tournament_table">
    <table class="simple-table">
        <caption>Турнирная таблица. {{ tournament.name }}.</caption>
        <tr>
            <th>Место</th>
            <th>Участник</th>
            <th>Очки</th>
            <th>Количество игр</th>
            <th>Победы</th>
            <th>Поражения</th>
            <th>Разница выигранных/ проигранных партий</th>
        </tr>
        {% for item in tournament_table %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.participant }}</td>
                <td>{{ item.points }}</td>
                <td>{{ item.number_of_games }}</td>
                <td>{{ item.winnings }}</td>
                <td>{{ item.losses }}</td>
                <td>{{ item.goal_delta }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
