{% extends "league_table/base.html" %}
{% load staticfiles %}

{% block includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login_panel.css' %}">
    <link rel="stylesheet" href="{% static 'league_table/css/tournament_create.css' %}">
{% endblock includes %}

{% block content %}
<div class="main-centered-block">
    <div class="container">
        {% include "login_panel.html" %}
        <div class="tournament-form">
            <h1>Создание турнира</h1>
            <form method="post">{% csrf_token %}
                <table class = "tournament-form-fields">
                    <tr class="field-wrapper">
                        <td><label for="{{ form.name.id_for_label }}">Название чемпионата:</label></td>
                        <td>{{ form.name }}</td>
                        <td class="field-wrapper-errors">{{ form.name.errors }}</td>
                    </tr>
                    <tr class="field-wrapper">
                        <td><label for="{{ form.type.id_for_label }}">Тип:</label></td>
                        <td>{{ form.type }}</td>
                        <td class="field-wrapper-errors">{{ form.type.errors }}</td>
                    </tr>
                    <tr class="field-wrapper">
                        <td><label for="{{ form.number_of_groups.id_for_label }}">Количество групп:</label></td>
                        <td>{{ form.number_of_groups }}</td>
                        <td class="field-wrapper-errors">{{ form.number.errors }}</td>
                    </tr>
                    <tr div class="field-wrapper">
                        <td><label for="{{ form.participants.id_for_label }}">Участники:</label></td>
                        <td>{{ form.participants }}</td>
                        <td class="field-wrapper-errors">{{ form.participants.errors }}</td>
                    </tr>
                </table>
                <div class="tournament-form-buttons">
                    <input type="submit" value="Создать" class="tournament-form-submit simple-button simple-button__border">
                    <a href="{% url 'tournament_list_url' %}" class="tournament-form-cancel simple-button simple-button__border">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
