{% extends "league_table/base.html" %}
{% load staticfiles %}

{% block includes %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'league_table/css/tournament_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_panel.css' %}">
{% endblock includes %}

{% block content %}
<div class="main-centered-block">
    <div class="container">
        {% include "login_panel.html" %}
        <div class="title clearfix">
            <h1 class="title-text">Турниры</h1>
            <form class="title-action" method="post">{% csrf_token %}
                <button formaction="{% url 'tournament_create_url' %}" class="simple-button simple-button__border">Создать турнир</button>
            </form>
        </div>
        <table class="tournaments">
        {% for tournament in tournaments %}
            <form method="post">{% csrf_token %}
                <tr class="tournament">
                    <td class="tournament-name"><a class="simple-link" href="{% url 'tournament_info_url' pk=tournament.pk %}">{{ tournament.name }}</a></td>
                    <td class="tournament-delete">
                        <button class="tournament-delete-button simple-button" formaction="{% url 'tournament_delete_url' pk=tournament.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </td>
                </tr>
            </form>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}
